@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    
    
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
}

header nav a {
    color: #007bff;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    color: #0056b3;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* personalizar cor */
.color1{
    background-color: #1a2b3c; /* Escolha uma cor de fundo */
    position: ;
    padding: 10px;
    color: #fff;
}

/* caixa2 */
.caixa2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}
@media (max-width: 375px){
    .caixa2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.botons{
    padding: 30px 0;
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-content: center;
}

.central{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.preco{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.container img {
    /* width: 100%; */
    height: auto;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* @media (max-width: 576px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .central h1 {
        font-size: 24px; /* Ajuste o tamanho da fonte do título se necessário */
    }
*/
#service{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width: 375px){

    #service{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}

