*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
    
}

.row{
    justify-content: center;
    margin: 10px;
}

.letras{
    margin: 20px;
}

.centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;

}

footer p a{
    margin: 5px 15px;
}
